/* Header font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-font {
  @apply text-white font-raleway font-bold text-4xl sm:text-5xl;
}

.subheader-font {
  @apply text-white font-raleway font-bold text-3xl;
}

.subtitle-font {
  @apply text-white font-sans tracking-wide text-sm;
}

.text-font {
  @apply text-club-blue-100 font-sans tracking-wide text-base sm:text-lg;
}

.btn-font {
  @apply text-white font-raleway font-bold text-sm;
}

.header-btn {
  @apply btn-font hover:underline hover:underline-offset-4 hover:decoration-4 hover:decoration-club-blue-400 m-4;
}

.header-underline {
  @apply underline underline-offset-8 decoration-8 decoration-club-blue-400;
}

.subheader-underline {
  @apply underline underline-offset-4 decoration-4 decoration-club-blue-400;
}

.rounded-btn {
  @apply btn-font btn-bg py-2 px-6 rounded-full;
}

.btn-bg {
  @apply bg-club-blue-400 hover:bg-club-blue-600;
}

.social-icon {
  @apply flex justify-center items-center h-10 w-10 rounded;
}

.member-tooltip {
  @apply absolute h-auto z-50 w-36 py-2 px-2 min-h-max -left-24 bottom-56
  rounded-tl-lg rounded-tr-lg rounded-bl-lg
  text-white bg-club-blue-400
  font-raleway   
  transition-all duration-100 scale-0 origin-right;
}
/* 
.text-3d {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate3d(-50%, -50%, 0) rotate3d(1, 0, 0, 69deg) rotate3d(0, 0, 1, 45deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 200px;
  letter-spacing: -10px;
  color: #173353;
} */
